

body {
    background-color: #0247AC;
    background: -webkit-linear-gradient(-45deg, #0155AF, #004ca9dc);
    padding: 20;
}

* {
    color: mintcream;
    font-family: Verdana;
    font-size: 24px;
    text-align: center;    
}

h1 {
    color: rgb(140, 184, 74);
    font-weight: 760;
    font-size: 64px;
}

h2 {
    color: black;
    font-size: 32px;
}

button {
    background-color: goldenrod;
    color: black;
}

div {
    margin: 10px;
}

.Color1 {
    background-color: grey;
    border: black;
    margin: auto;
    width: 300px;
}

.Color2 {
    background-color: rgb(140, 184, 74);
    font-size: 20px;
}

p {
    color: black;
}